<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Navigation</li>
                <li class="has_sub">
                    <a href="{% url 'users:login' %}" class="waves-effect active"><i class="ti-home"></i> <span> Dashboard </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-pencil-alt"></i><span> 用户管理 </span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'users:list' %}">用户列表</a></li>
                        <li><a href="form-advanced.html">用户组</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="ti-pencil-alt"></i><span> 资产管理 </span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'urlmanage:list' %}">平台账号</a></li>
                        <li><a href="{% url 'passmanage:list' %}">密码管理</a></li>
                        <li><a href="{% url 'vpnmanage:list' %}">VPN管理</a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->
